* {
	-GtkHTML-link-color: #222;
}

GtkWindow {
    background-color: #FFF;
    border: 1px solid #DDD;

}

GtkButton {
    color: #222222;
    border-radius: 3px;
    border: 1px solid #DDD;
    background: #f1f1f1;
    font: FreeSans 13px;
}

GtkButton:hover {
    background: #DDD;
}

GtkButton:active {
    background: #D5D5D5;
}

GtkProgressBar{
	background-color: #4876FF;
    font-weight: bold;
    font-size: 30px;
    border: 0px;
    border-radius: 3px; 
    border-style: inset;
}

.header-bar{
    background: #DDDDDD;
    color: #222;
    border: 0px;
    padding: 0px;
}

.header-bar .button.text-button {
    padding: 2px 16px;
}

.header-bar .button.image-button {
    padding: 5px 4px 5px 5px;
}